body {
    font-family: "Open Sans";
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
}

/* Global */

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.p-head {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    margin-bottom: -5px;
}

.comment {
    width: 85%;
    padding-left: 25px;
    padding-top: 25px;
}

.author {
    padding-left: 25px;
}

/* Header */

header {
    margin-top: 70px;
}

header img {
    float: left;
    margin-left: 8px;
}

header nav {
    float: right;
}

/* NAV */

header nav ul {
    list-style: none;
    margin: 5px 10px 0 0;
    padding: 15px 0 0 0;
}

header nav ul li {
    display: inline;
    padding-left: 50px;
    font-family: "Raleway";
    font-size: 16px;
    color: hsl(0, 0%, 100%);
}

/* Main */

#main {
    text-align: center;
    margin-top: 80px;
}

#main h1 {
    width: 55%;
    font-size: 40px;
    font-family: "Raleway";
    margin: 30px auto;
    line-height: 1.6em;
}

#main p {
    width: 48%;
    font-size: 20px;
    margin: 0 auto;
}

#main button {
    width: 22%;
    height: 60px;
    border: none;
    border-radius: 30px;
    background: hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    margin-top: 30px;
}

/* Boxes */

#boxes {
    text-align: center;
    color: hsl(0, 0%, 85%);
}
 
#boxes .container {
    display: grid;
    grid-template-columns: 350px 350px; 
    grid-template-rows: 300px 300px;
    align-items: center;
    justify-content: start;
    margin-top: 120px;
}

#boxes div {
    width: 100%;
}
 
#boxes div#div-1, #boxes div#div-3 {
    margin-left: 300px;
}

#boxes div#div-2, #boxes div#div-4 {
    margin-left: 450px;
}

/* Productive */

#productive {
    margin-top: 70px;
}

#productive img {
    float: left;
    width: 45%;
    margin-left: 50px;
}

#productive h2 {
    font-family: "Raleway";
    font-size: 38px;
    width: 30%;
    float: right;
    margin-right: 200px;
    margin-top: 120px;
    margin-bottom: -1px;
    letter-spacing: 1px;
}

#productive p {
    float: right;
    width: 43%;
    margin-right: 30px;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 27px;
    color: hsl(0, 0%, 85%)
}

#productive #p1 {
    margin-bottom: -1px;
}

/* Comments */

#comments div.container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 200px;
    justify-content: space-between;
    width: 80%;
    margin-top: 210px;
    background: hsl(219, 30%, 18%);
}

#comments div.container img {
    width: 7%;
    border-radius: 50%;
}

#div-1, #div-2, #div-3 {
    border: 1px solid green;

}

/* Overlap */

#overlap {
    border: 1px solid red;
    width: 60%;
    height: 270px;
    text-align: center;
}

#overlap h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: hsl(0, 0%, 85%);
    margin-top: 50px;
}

#overlap p {
    width: 80%;
    margin: 0 auto;
}

#overlap input {
    width: 61%;
    border-radius: 30px;
    border: none;
    height: 40px;
    margin-top: 35px;
    margin-right: 20px;
}

#overlap input::-webkit-input-placeholder {
    padding-left: 40px;
}

#overlap button {
    height: 45px;
    width: 26%;
    border: none;
    border-radius: 30px;
    background: hsl(198, 60%, 50%);
    color: hsl(0, 0%, 85%);
}

/* Footer */

footer {
    border: 1px solid red;
    margin-top: 110px;
    padding: 160px 30px;
}

footer #footer-left {
    border: 1px solid orange;
    float: left;
    width: 60%;
}

#footer-left #left {
    float: left;
    width: 45%;
    font-size: 16px;
    border: 1px solid yellow;

}

#footer-left #right {
    float: right;
    border: 1px solid blue;
    width: 30%;
    margin-right: 100px;
}

footer #footer-right {
    float: right;
}