body {
    font-family: "Open Sans";
    font-size: 14px;
    padding: 0;
    margin: 0;
}

/* Global */

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* Header */

header {
    margin-top: 70px;
}

header img {
    background-color: red;
    float: left;
}

header nav {
    float: right;
}

/* NAV */

header nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
}

header nav ul li {
    display: inline;
    padding-left: 50px;
    font-size: 16px;
}